body {
    background-color: #a1a1aa;
    padding: 0;
    margin: 0;
}
.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 6fr;
    grid-template-rows: 1fr 1fr 7fr;
}


.wrapper {
    grid-row: 1;
    grid-column: 1;
    background-color: #64748b;
    color: #e2e8f0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;

}

.dashboard {
    font-size: 60px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.sidebar {
    
    grid-column: 1 / 2;
    grid-row: 2 / 4 ;
    background-color: #64748b;
    color: #e2e8f0;
    padding-left: 40px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    
}


.sidebar > ul > li {
    font-size: 50px;
    margin-top: 30px;
    font-weight: 900;
    list-style-type: none;
    margin-bottom: 30px;
}

.search {
    border-style: solid;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 6fr 1fr 1fr 1fr;
    background-color: #64748b;
    
}

.searchbox {
    grid-row: 2;
    grid-column: 2;
}

.searchicon,
.notification {
    grid-row: 2;
    align-self: center;
    justify-self: center;
}


.notification {
    grid-column: 3;
}



.header {
    border-style: solid;
}

.project {
    border-style: solid;
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
}

.your_projects {
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(600px, 1fr));
    
}

.card {
    height: 400px;
    width: 600px;
    background-color: #f5f5f5;
    align-self: center;
    justify-self: center;
    border-radius: 10px;
}

.announcments_box {
    grid-column: 2;
    padding-left: 30px;
    border-style: solid;
    border-color: #71717a;
    border-width: 15px;
    border-radius: 10px;
    display: grid;
}

.trending {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    border-style: solid;
    border-color: #71717a;
    border-radius: 10px;
    border-width: 15px;
}

.announcments_box > div,
.trending > div {
    align-self: center;
    justify-self: center;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 8px;
}

.header > button {
    grid-row: 2;
    border-radius: 30px;
    width: 200px;
    font-size: 40px;
    color: #e2e8f0;
    background-color: #64748b;
}

.greeting {
    grid-column: 1 / 2;
    grid-row: 2;
    align-self: center;
    justify-self: center;
    background-color: grey;
    font-size: 30px;
}
.Newbtn {
    grid-column: 2;
    
}

.Uploadbtn {
    grid-column: 3;
}

.Sharebtn {
    grid-column: 4;
}
